<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.aiscope.gdd_app">

    <application tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_deactivated"
            android:value="true" />
    </application>

</manifest>
